@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/mixin";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../../assets/images/order_back.jpg");
  background-size: cover;
}
.dellivery {
  &__back {
    background-image: url("../../../../assets/images/bkg-img1.jpg");
    background-size: cover;
  }
  &__content {
    padding-top: 100px;
  }
  &__title {
    position: relative;
    margin-bottom: 20px;
    text-align: center;
    span {
      @include font(36, $montez);
      text-transform: none;
      margin-bottom: 10px;
      color: $hr;
    }
  }
  &__custom__hr {
    margin: 15px auto 0 auto;
    span {
      background-color: $hr;
      width: 40px;
      height: 2px;
    }
  }
  &__text {
    border-bottom: 1px solid #dddddd;
    p {
      padding-bottom: 40px;
      font-family: "Montserrat-UltraLight", Arial, sans-serif;
      line-height: 25px;
      text-align: center;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px auto 0;
    width: 100%;
    padding: 30px 50px;
    // background-color: #eeeff2;
    box-shadow: 0px 0px 29px -12px rgba(0, 0, 0, 0.76);
    border-radius: 8px;
    &__item {
      display: flex;
      flex-direction: column;
      width: calc(33% - 30px);
      background-color: #fff;
      margin-bottom: 40px;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      transition: all 0.3s;
      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
      &__img {
        overflow: hidden;
      }
      &:hover {
        //
        box-shadow: 0 2px 12px 2px rgba(0, 0, 0, 0.15); // close
        transform: translateY(5px);
        cursor: pointer;
      }
      &-:active {
        //
        box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.25);
      }
      &:hover img {
        transform: scale(1.2);
      }
      h2 {
        @include font(36, $suranna);
        text-align: center;
        margin: 10px 0;
      }
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        transition: transform 0.5s ease;
      }
      &__text {
        padding: 15px;
        text-align: center;
      }
    }
  }
  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__category {
      display: inline-block;
      width: auto;
      border-radius: 30px;
      box-shadow: 0 0 20px 0 #dddcd9;
      a {
        display: inline-block;
        width: auto;
        text-align: center;
        outline: none;
        padding: 13px 36px;
        line-height: 26px;
        font-size: 16px;
        text-transform: uppercase;
        &.current {
          background: #20202f;
          color: #ffffff;
        }
      }
    }
    &__products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__item {
        width: 30%;
        height: 200px;
        border: 1px solid $darkBtn;
        border-radius: 17px;
        padding: 10px;
        margin-bottom: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p {
          font-size: 24px;
        }
        img {
          width: 120px;
          height: 120px;
          object-fit: cover;
        }
      }
    }
  }
}
