@import "../../../assets/styles/typography";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/variables";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../assets/images/reserv_back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reservation {
  &__banner {
    width: 100%;
    height: 80vh;
    background-image: url("../../../assets/images/bkg-img19.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
    &__title {
      flex-wrap: wrap;
      text-align: center;
      .h3 {
        @include font(36, $suranna);
        span {
          display: block;
          margin-bottom: 10px;
        }
      }
    }
  }
  &__restaurant {
    padding: 100px 0;
    &__title {
      text-align: center;
    }
    &__container {
      padding: 0 100px;
    }
    &__img {
      width: 50%;
      display: flex;
      justify-content: center;
    }
    &__indoor {
      margin-bottom: 100px;
    }
    &__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a.more-details {
        @include font(21, $suranna, normal);
        color: #161d27;
        &:hover {
          color: $hr;
          svg {
            fill: $hr;
          }
        }
      }
      h3.h3 {
        @include font(36, $montserratUltra);
        color: #161d27;
        margin-top: 0;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .reservation {
    &__restaurant {
      &__container {
        padding: 0;
      }
    }
  }
}
