@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/form";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../assets/images/basket.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: #f7f7f7;
}
.basket {
  &__container {
    background-color: #f7f7f7;
    width: 100%;
    height: auto;
    padding: 70px 0 70px;
  }
  &__progress {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    ul {
      width: 100%;
      text-align: center;
      li {
        color: #333e48;
        display: block;
        padding: 14px 20px 14px 80px;
        position: relative;
        @include font(16, $quicksand);
        display: inline-block;
        margin: 50px 0 0;
        padding: 0;
        text-align: center;
        width: 19%;
        cursor: pointer;
        &:before {
          background: #ffffff;
          border: 2px solid #fff;
          border-radius: 50%;
          line-height: 45px;
          height: 45px;
          position: absolute;
          text-align: center;
          font-weight: 600;
          top: -65px;
          width: 45px;
          z-index: 9;
          @include font(16, $quicksand, normal, 600);
          left: 50%;
          transform: translateX(-50%);
        }
        &:nth-child(1):before {
          content: "1";
        }
        &:nth-child(2):before {
          content: "2";
        }
        &:nth-child(3):before {
          content: "3";
        }
        &:after {
          background-color: #ffffff;
          content: "";
          height: 5px;
          width: 95%;
          right: 52%;
          position: absolute;
          top: -45px;
          z-index: 0;
        }
        &:nth-child(1):after {
          content: none;
        }
        &.active {
          font-weight: 600;
          &:after {
            background: #e4b95b;
            z-index: 9;
            border-color: #e4b95b;
          }
          &:before {
            background: #e4b95b;
            z-index: 9;
            color: #ffffff;
            border-color: #e4b95b;
          }
        }
      }
    }
  }
  &__order {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px 34px;
    background-color: #ffffff;
    border-radius: 17px;
    table.basket__product {
      border-collapse: separate;
      border-spacing: 0;
      position: relative;
      width: 100%;
      @include font(18, $quicksand, normal, 700);
      thead {
        color: #ffffff;
        th {
          background-color: $title;
          padding: 18px 0;
          border: none;
          &:first-child {
            padding-left: 38px;
            border-bottom-left-radius: 17px;
            border-top-left-radius: 17px;
          }
          &:last-child {
            border-bottom-right-radius: 17px;
            padding-right: 38px;
            border-top-right-radius: 17px;
          }
        }
      }
    }
    td {
      text-align: center;
      padding: 26px 0;
      vertical-align: middle;
      &.basket__product__close svg {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          fill: #e62625;
        }
      }
      strong {
        color: #c7a17a;
        display: block;
      }
      del {
        color: #e1dfda;
        display: block;
        font-family: "QuicksandBook-Regular";
        font-weight: 400;
      }
      span {
        font-weight: 600;
      }
      div {
        display: table-cell;
        vertical-align: middle;
        img {
          width: 98px;
          height: 98px;
          margin-right: 38px;
          border-radius: 17px;
          object-fit: cover;
        }
      }
    }
    &__total {
      display: flex;
      justify-content: space-between;
      &-cupon {
        width: 40%;
        display: flex;
        justify-content: space-between;
        input {
          width: 45%;
        }
        a {
          line-height: 1.2;
          width: 45%;
          background: $title;
          border-color: $title;
          color: #fff;
          display: flex;
          align-items: center;
          &:hover {
            color: #7a7676;
          }
        }
      }
      &-price {
        width: 20%;
        margin: 19px 0 45px;
        h5 {
          display: flex;
          justify-content: space-between;
          margin: 0px;
          font-size: 22px;
          color: #383848;
          font-weight: 700;
          span {
            color: #c7a17a;
            @include font(38, $montez);
          }
        }
      }
      &__checkout {
        display: flex;
        align-items: center;
        background: #e4b95b;
        color: #ffffff;
        border-color: #e4b95b;
        &:hover {
          background: #c7a17a;
          border-color: #c7a17a;
        }
      }
    }
  }
  &__attention {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h3 {
      width: 100%;
      text-align: center;
    }
    a {
      border-radius: 50px;
      text-align: center;
      transition: all 0.5s ease 0s;
      text-transform: uppercase;
      font-weight: 700;
      height: 50px;
      line-height: 50px;
      padding: 0 30px;
      border: none;
      box-shadow: none;
      background-size: 100% auto;
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      width: auto;
      color: $colorLink;
      &::before {
        content: none;
      }
      &:focus {
        outline-offset: -2px;
      }
    }
    &-view {
      background: url(../../../assets/images/header/btn1-bg.jpg) repeat-y 0 0;
      &:hover {
        background: url(../../../assets/images/header/btn2-bg.jpg) repeat-y 0 0;
        color: #ffffff !important;
      }
    }
  }
  &__checkout {
    display: flex;
    justify-content: space-between;
    &__container {
      background: #ffffff;
      padding: 35px 30px 10px;
      border-radius: 17px;
      .form-checkout {
        display: flex;
        flex-wrap: wrap;
      }
    }
    &__left {
      width: 59%;
      display: flex;
      flex-wrap: wrap;
    }
    &__right {
      width: 38%;
    }
    &__title,
    &__details,
    &__payment {
      width: 100%;
      h5 {
        color: #20202f;
        font-size: 20px;
        margin-bottom: 29px;
        text-align: center;
        font-weight: 600;
      }
    }
    &__fName,
    &__lName,
    &__email,
    &__phone {
      width: 50%;
      padding: 0 15px;
    }
    &__adress,
    &__notes {
      width: 100%;
      padding: 0 15px;
    }
    &__products {
      margin: 15px 0 0;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e0e0e0;
      p {
        @include flex-position(flex, space-between, center);
        @include font(16px, $suranna, normal, $fw: 400);
        color: #7a7676;
        span {
          &:nth-child(1) {
            width: 50%;
          }
          &:nth-child(2) {
            width: 20%;
          }
        }
        small {
          display: flex;
          justify-content: flex-end;
          font-size: 18px;
          color: $detailsText;
          font-family: $montez;
          font-weight: 600;
          color: #7a7676;
          width: 25%;
        }
      }
      &__title {
        width: 100%;
        @include flex-position(flex, space-between, center);

        h6 {
          width: 70%;
          color: $title;
          margin: 0px;
          font-size: 16px;
          font-weight: 600;
        }
        span {
          display: flex;
          justify-content: flex-end;
          width: 30%;
          font-weight: 600;
          margin: 0px;
          font-size: 16px;
        }
      }
    }
    &__shipping,
    &__total {
      width: 100%;
      @include flex-position(flex, space-between, center);
      padding: 20px 0;
      border-bottom: 1px solid #e0e0e0;
      h6 {
        width: 70%;
        font-weight: 600;
        color: $title;
        font-weight: 700;
        margin: 0px;
        font-size: 16px;
      }
    }
    &__shipping span {
      display: flex;
      justify-content: flex-end;
      width: 30%;
      margin: 0px;
      color: #7a7676;
      font-size: 14px;
    }

    &__total span.price-big {
      @include font(22, $montez, normal, 700);
      display: flex;
      justify-content: flex-end;
      width: 30%;
      margin: 0px;
      color: #e4b95b;
    }
    &__payment {
      margin-top: 50px;
      span {
        color: #e62625;
        font-weight: 600;
      }
      &__payPal {
        margin: 10px 0;
        display: flex;
        align-items: center;
        img {
          margin-right: 15px;
        }
      }
    }
    &__terms {
      label {
        padding-left: 25px;
      }
      &__error {
        color: #e62625;
        font-weight: 600;
        margin-left: 30px;
        margin-top: 0px;
      }
    }
    &__btn {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      .btn {
        background-color: $product;
        color: #fff;
        &:hover {
          background: #20202f none repeat scroll 0 0;
        }
        &.btnBack {
          margin-top: 50px;
        }
      }
    }
    &__error {
      color: #e62625;
      font-weight: 600;
      margin-top: -24px;
      margin-left: 30px;
      margin-bottom: 15px;
    }
  }
  &__complete {
    display: inline-block;
    width: 100%;
    padding: 65px 25px 55px;
    text-align: center;
    background: #ffffff;
    border-radius: 17px;
    line-height: 26px;
    font-size: 16px;
    font-family: $quicksand, sans-serif;
    font-weight: 400;
    color: #7a7676;
    p {
      margin: 50px 0;
    }
    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn {
      background-color: $product;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: #20202f none repeat scroll 0 0;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .background {
    height: 60vh;
  }
  .basket {
    &__progress {
      margin-bottom: 20px;
    }
    &__container {
      padding: 60px 0;
      .container {
        padding: 0;
        max-width: 900px;
      }
    }
    &__order {
      padding: 20px;
      table.basket__product thead th {
        font-size: 16px;
        padding: 12px 0;
      }
      .btn {
        padding: 0px 23px;
      }
      &__total-price {
        margin: 15px 0 0px;
        h5 {
          font-size: 18px;
          span {
            font-size: 32px;
          }
        }
      }
      &__total-cupon {
        input {
          margin-bottom: 0;
        }
      }
    }
    &__checkout__payment {
      margin-top: 15px;
      h5 {
        margin-bottom: 5px;
      }
    }
    &__checkout__btn .btn.btnBack {
      margin: 0;
    }
    &__checkout__left .basket__checkout__btn {
      margin-top: 0;
    }
    &__checkout__right .basket__checkout__btn {
      margin-top: 35px;
    }
    &__checkout__terms__error {
      margin-left: 0;
    }
  }
  .basket__progress ul li {
    &:before {
      top: -55px;
    }
    &:after {
      top: -36px;
    }
  }

  .basket__checkout__container {
    padding: 20px 20px 0px;
  }
  .basket__checkout__shipping span {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .basket__order__total-cupon {
    width: 47%;
  }
  .basket {
    &__container {
      padding: 40px 0;
      .container {
        padding: 0;
        max-width: 720px;
      }
    }
    &__order {
      .btn {
        min-width: 140px;
        padding: 0px 18px;
        font-size: 14px;
      }
    }
    &__checkout {
      &__btn {
        margin-top: 21px;
      }
      .btn {
        line-height: 1.2;
        font-size: 14px;
        padding: 11px 15px;
      }
      &__left {
        .basket__checkout__btn .btn {
          line-height: 1.2;
          font-size: 14px;
          padding: 6px 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 740px) {
  .basket {
    &__container {
      padding: 40px 0;
      .container {
        padding: 0;
        max-width: 650px;
      }
    }
    &__order__total {
      flex-wrap: wrap;
      &-cupon {
        width: 100%;
        margin-bottom: 10px;
        a {
          width: 28%;
          display: flex;
          justify-content: center;
        }
      }
      &-price {
        width: 29%;
      }
    }
    &__order {
      td {
        padding: 14px 0;
        div {
          img {
            width: 55px;
            height: 55px;
            margin-right: 14px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 660px) {
  .basket {
    &__container {
      padding: 40px 0;
      .container {
        padding: 0;
        max-width: 558px;
      }
    }

    &__progress ul li {
      font-size: 13px;
      margin: 30px 0 0;
      &:before {
        top: -46px;
      }
      &:after {
        top: -25px;
      }
    }
    &__order {
      td:nth-child(3) {
        width: 25%;
      }
    }
  }
}
@media screen and (max-width: 568px) {
  .basket {
    &__container {
      padding: 40px 0;
      .container {
        padding: 0;
        max-width: 400px;
      }
    }
    &__progress {
      ul li {
        width: 25%;
        &:before {
          width: 35px;
          height: 35px;
          font-size: 15px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &:after {
          height: 3px;
          top: -29px;
        }
      }
    }
    &__order__table {
      th:nth-child(2),
      td:nth-child(2) {
        display: none;
      }
      table.basket__product thead th:first-child,
      table.basket__product thead td:first-child {
        width: 40%;
      }
      table.basket__product thead th,
      table.basket__product thead td {
        width: 30%;
      }
    }
  }
  .basket__order table.basket__product thead th:first-child {
    padding-left: 0;
  }
}
@media screen and (max-width: 414px) {
  .basket {
    &__container {
      padding: 40px 0;
      .container {
        padding: 0;
        max-width: 95%;
      }
    }

    &__order {
      padding: 8px;
      td div.basket__product__img {
        display: none;
      }
      .btn {
        min-width: 120px;
        width: 60%;
        padding: 14px;
        margin: 0 auto;
        &.basket__order__total__checkout {
          display: flex;
          justify-content: center;
          line-height: 1.2;
          margin-top: 10px;
        }
      }
    }
    table.basket__product thead th:nth-child(3),
    table.basket__product thead td:nth-chi2d(3) {
      width: 20%;
    }
    &__order__total-cupon {
      flex-wrap: wrap;
      input {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    &__order__total-price {
      width: 100%;
      justify-content: center;
    }
    &__progress ul li {
      width: 33.3%;
    }
  }
}
