<div class="background">
    <div class="contact__title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="650">
        <h2 class="h2"><span>Contact us</span></h2>
        <h2 class="h2">SEND US A MESSAGE</h2>
    </div>
</div>
<div class="contact">
    <div class="contact__intro">
        <div class="contact__title">
            <h3 class="h3"><span>Have a question for us</span></h3>
            <h3 class="contact__title__sub">CONTACT US TODAY</h3>

            <div class="hr">
                <span class="hr__left"></span>
                <span class="hr__center"></span>
                <span class="hr__right"></span>
            </div>
            <p class="contact__title__phone">Phone: <span>+1 85 258 9857</span></p>
        </div>
        <app-custom-form [statusForm]="contactForm"></app-custom-form>
    </div>
    <div class="contact__banner">
    </div>
    <div class="contact__reserv">
        <app-locations></app-locations>
    </div>
</div>