@import "../../../assets/styles/typography";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/variables";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../assets/images/contact_back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  &__intro {
    padding: 100px 0;
  }
  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__sub {
      margin: 0;
    }
    &__phone {
      font-size: 24px;
      font-weight: 400;
      color: #161d27;
      margin-top: 30px;
      margin-bottom: 25px;
      span {
        color: #b48c80;
        font-size: 24px;
      }
    }
  }
  &__banner {
    width: 100%;
    height: 60vh;
    background-image: url("../../../assets/images/reserv_back.jpg");
    background-size: cover;
    overflow: hidden;
  }
  &__reserv {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .contact__banner {
    height: 50vh;
    max-height: 500px;
  }
  .contact__intro {
    padding: 80px 0;
  }
}
@media screen and (max-width: 1024px) {
  .contact__intro {
    padding: 60px 0;
  }
}
@media screen and (max-width: 768px) {
  .contact__intro {
    padding: 40px 0;
  }
  .contact__reserv {
    padding-bottom: 0;
  }
}
