.scroll-to-top {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1d2026;
    opacity: 0.4;
    z-index: 20;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    transform: translateY(0);
    a {
        padding-top: 7px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &:hover {
        opacity: 0.9;
        transition: all 0.2s ease-in-out;
    }
    &.hide-scroll {
        transform: translateY(100px);
    }
}
