@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/fonts";
@import "../../../../assets/styles/typography";
@import "../../../../assets/styles/mixin";
.reservation__form {
    &__container {
        min-width: 360px;
        padding-top: 10px;
    }
    &__icon {
        display: inline-flex;
        position: absolute;
        left: 10px;
        top: 8px;
    }
    &__input,
    &__select {
        position: relative;
        margin-top: 10px;
        transition: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &__input {
        &__vertical {
            padding-bottom: 25px;
            margin: 0;
            .reservation__form__errors {
                position: absolute;
                bottom: 0;
                left: 8px;
                p {
                    margin: 0;
                }
            }
        }
        &__horizontal {
            width: calc(33.3% - 40px);
            margin-bottom: 12px;
        }
        &__calendar {
            position: relative;
            &__date {
                position: absolute;
                display: none;
                transition: all 0.4s;
                top: -1px;
                left: -9px;
                padding-left: 11px;
                z-index: 20;
            }
            &:hover {
                .reservation__form__input__calendar__date {
                    display: block;
                }
            }
        }
    }
    &__btn {
        width: 100%;
        &.horizontalBtn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }
        .btn {
            font-family: "Quicksand", sans-serif;
            text-transform: uppercase;
            display: inline-block;
            width: 100%;
            padding: 12px 0;
            border: 2px solid transparent;
            border-radius: 5px;
            text-align: center;
            box-shadow: none;
            font-size: 14px;
            transition: all 0.5s ease 0s;
            font-weight: 600;
            background-color: #161d27;
            margin-top: 10px;
            color: white;
            &:hover,
            &:active,
            &:focus {
                outline: none;
                text-decoration: none;
                background-color: $hr;
            }
            &.horizontal {
                width: calc(33.3% - 40px);
            }
        }
    }
    &__error {
        color: #e62625;
        font-weight: 600;
        padding: 0;
        font-size: 13px;
        margin-left: 2px;
    }
    &__errors {
        position: absolute;
        bottom: -22px;
        left: 8px;
    }
}
.formHorizontal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
input,
select {
    position: relative;
    width: 100%;
    color: #777;
    margin: 0;
    height: 40px;
    font-weight: 600;
    padding: 0 0 0 40px;
    appearance: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    cursor: text;
    &:focus {
        outline-color: $hr;
    }
    &.is-error {
        border: 1px solid #dc3545;
        background-image: url("../../../../assets/images/icons/error.svg");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        &:focus {
            outline-color: #dc3545;
        }
    }
}

@media screen and (max-width: 1200px) {
    .reservation__form__input__horizontal {
        width: calc(33% - 15px);
    }
    .reservation__form__btn.horizontalBtn {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .reservation__form__error {
        margin-top: 2px;
        font-size: 12px;
    }
}
@media screen and (max-width: 568px) {
    .reservation__form {
        &__input,
        &__select {
            margin-top: 22px;
        }
    }
}
@media screen and (max-width: 414px) {
    .reservation__form__container {
        min-width: unset;
        padding: 0 5px;
    }
}
