@import "../../../assets/styles/typography";
@import "../../../assets/styles/mixin";
@import "../../../assets/styles/variables";
// @import "~swiper/swiper-bundle.min.css";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../assets/images/about_back.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  &__content {
    .container {
      padding-top: 100px;
      padding-bottom: 100px;
    }
  }
  &__since {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 50px;
    &__img {
      width: 49%;
      display: flex;
      justify-content: center;
    }
    &__text {
      width: 49%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__blockquote {
      width: 70%;
      margin: 20px auto;
      text-align: center;
      p {
        color: $hr;
        @include font(36, $suranna);
        line-height: 42px;
        padding: 0;
      }
      span {
        font-size: 14px;
        color: #161d27;
        text-transform: uppercase;
      }
    }
  }
  &__text {
    font-size: 16px;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  &__approach {
    margin-top: 100px;
    &__text {
      width: 55%;
    }
    &__img {
      width: 45%;
    }
  }
  &__banner {
    &__place,
    &__staff,
    &__testemonials {
      width: 100%;
      height: 80vh;
      background-image: url("../../../assets/images/reserv_back.jpg");
      background-size: cover;
      overflow: hidden;
      display: flex;
      align-items: center;
      &__content {
        width: 100%;
      }
    }
    &__staff {
      background-image: url("../../../assets/images/about/bkg-img7.jpg");
    }
    &__testemonials {
      background-image: url("../../../assets/images/about/bkg-img20.jpg");
      &__container {
        width: 1170px;
        margin: 0 auto;
        background-color: #161d27;
        padding: 40px 0 30px;
        margin-top: 15px;
      }
      h4 {
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
      }
      p {
        color: #ccd4dc;
        font-size: 14px;
        padding: 0 140px 0;
        line-height: 22px;
        text-align: center;
        &.testimonial-author {
          color: #fcda9a;
          text-transform: uppercase;
        }
      }
    }
  }
  &__restaurant {
    padding-top: 100px;
    &__container {
      padding: 0 100px;
    }
    &__img {
      width: 50%;
      display: flex;
      justify-content: center;
    }
    &__content {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &__outdoor {
      margin-top: 60px;
    }
  }
  &__staff {
    .container {
      display: flex;
      justify-content: center;
    }
    &__member {
      width: 30%;
      figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        figcaption {
          padding-top: 15px;
          width: 80%;
          margin: 0 auto;
          .hr {
            margin: 5px 0 20px;
          }
          p {
            @include font(17, $montserratUltra);
            padding-bottom: 0;
            color: #959595;
          }
        }
      }
      &:nth-child(2) {
        margin: 0 40px;
      }
    }
  }
  &__reservation {
    &__form {
      margin-top: -40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 100px;
      &__title {
        flex-wrap: wrap;
        text-align: center;
        h3.h3 {
          @include font(36, $suranna);
          span {
            display: block;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}
a.more-details {
  @include font(21, $suranna, normal);
  color: #161d27;
  &:hover {
    color: $hr;
    svg {
      fill: $hr;
    }
  }
}
.divider-svg svg {
  fill: #fcda9a;
}
h3.h3 {
  @include font(36, $suranna);
  color: #161d27;
  margin-top: 0;
  text-align: center;
}
.swiper-wrapper {
  padding-bottom: 30px;
}
.swiper-pagination.swiper-pagination-testemonials {
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0px;
}
@media screen and (max-width: 1920px) {
  .about__banner__testemonials__container {
    width: 1000px;
    padding: 30px 0 20px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1600px) {
  .about {
    &__since {
      padding: 0;
    }
    &__restaurant {
      &__container {
        padding: 0 25px;
      }
    }
    &__approach {
      margin-top: 70px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .about {
    &__content {
      .container {
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
    &__since {
      &__blockquote {
        width: 85%;
        margin: 10px auto;
      }
    }
    &__text {
      font-size: 15px;
      width: 92%;
    }
    &__approach__img {
      display: flex;
    }
    &__restaurant {
      padding: 0;
      &__container {
        padding: 0;
        padding-top: 80px;
        padding-bottom: 80px;
      }
    }
    &__staff__member figure figcaption {
      width: 100%;
      p {
        font-size: 15px;
      }
    }
  }
  h3.h3 {
    font-size: 32px;
  }
  .about__banner__testemonials {
    h4 {
      margin-bottom: 10px;
    }
  }
  .swiper-pagination.swiper-pagination-testemonials {
    margin-top: 0;
  }
  .about__banner__place,
  .about__banner__staff,
  .about__banner__testemonials {
    height: 70vh;
  }
  .about__banner__place__content .divider {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .background {
    height: 60vh;
    max-height: 600px;
  }
  .about__banner__place,
  .about__banner__staff,
  .about__banner__testemonials {
    height: 60vh;
    max-height: 600px;
  }
  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  img {
    object-fit: cover;
  }
  .about__since__blockquote p {
    font-size: 28px;
    line-height: 32px;
  }
  .about__approach__img {
    align-items: flex-end;
    img {
      object-fit: contain;
    }
  }
  .about__restaurant__img {
    padding-top: 6%;
  }
  .about__restaurant__indoor,
  .about__restaurant__outdoor {
    padding: 0 15px;
  }
  .about__banner__place__content {
    h2 {
      width: 90%;
      text-align: center;
      margin: 0 auto;
    }
  }
  .about__staff {
    padding: 0 25px;
  }
  .about__banner__testemonials__container {
    width: 80%;
    padding: 20px 0 20px;
    p {
      padding: 0 30px;
      &.testimonial-author {
        margin: 0;
      }
    }
    .swiper-pagination.swiper-pagination-testemonials {
      bottom: 10px;
    }
  }
  .about__reservation__form__title {
    h3.h3 {
      font-size: 32px;
    }
  }
}
@media screen and (max-width: 768px) {
  .about__since {
    display: flex;
    flex-wrap: wrap;
    &__img {
      width: 80%;
      margin: 0 auto 20px;
    }
    &__text {
      width: 100%;
    }
  }
  .about__restaurant__indoor,
  .about__restaurant__outdoor {
    flex-wrap: wrap;
  }
  .about__restaurant {
    &__img {
      width: 80%;
      margin: 0 auto 20px;
    }
    &__content {
      width: 100%;
    }
  }
  .about__staff {
    .container {
      flex-wrap: wrap;
      padding: 60px 0;
    }
    &__member {
      width: 100%;
      margin: 0 0 20px;
      &:nth-child(2) {
        margin: 0 0 20px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .about__banner__place__content .divider {
    width: 210px;
  }
}
@media screen and (max-width: 568px) {
  .about__approach {
    margin-top: 10px;
    &__container {
      display: flex;
      flex-wrap: wrap;
    }
    &__text {
      width: 100%;
      order: 2;
    }
    &__img {
      width: 80%;
      margin: 0 auto;
      order: 1;
    }
  }
}
