<div class="background"></div>
<div class="rest__content container">
  <div class="rest__title">
    <h3><span>For start</span></h3>
    <h3>Starters</h3>

    <div class="rest__custom__hr">
      <span class="hr-simple left"></span>
      <i class="fa fa-circle hr-icon"></i>
      <span class="hr-simple right"></span>
    </div>
  </div>
  <div class="rest__text">
    <p>
      Keith Simons, chef de cousine in Royal plate has prepared some delicious
      starters for every taste. Try some of our home made soups made from fresh
      ingredients or some of our refreshing salads. Bon appetit!
    </p>
  </div>
  <div class="rest__menu__container">
    <div class="rest__menu__soups">
      <div class="rest__menu__sub-title">
        <h4>Soups</h4>
        <div class="rest__custom__hr">
          <i class="fa fa-circle hr-icon left"></i>
          <span class="hr-simple right"></span>
        </div>
      </div>
      <!-- 1 column: Soups -->
      <ul class="rest__menu__style-1">
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-04.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Spinach soup</h5>
            <p>
              Milk, eggs, spinach, garlic, onion, potato, chicken stock, lemon
            </p>
          </div>
          <div class="menu-item-price">
            <p>$15</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-05.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Tomato soup</h5>
            <p>
              Tomatos, onion, carrot, celery, olive oil, tomato puree, sugar,
              vegetable soup
            </p>
          </div>
          <div class="menu-item-price">
            <p>$12</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-06.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Mushroom soup</h5>
            <p>
              Mushrooms, olive oil, garlic, onion, sea salt, black pepper,
              persley, cheese
            </p>
          </div>
          <div class="menu-item-price">
            <p>$17</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="rest__menu__salads">
      <div class="rest__menu__sub-title">
        <h4>Salads</h4>
        <div class="rest__custom__hr">
          <i class="fa fa-circle hr-icon left"></i>
          <span class="hr-simple right"></span>
        </div>
      </div>
      <!-- 2 column: Salads -->
      <ul class="rest__menu__style-1">
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-07.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Cracking cobb salad</h5>
            <p>
              Chicken thighs, pepper, olive oil, salt, pancetta, avocado,
              tomato, cheese, buttermilk
            </p>
          </div>
          <div class="menu-item-price">
            <p>$15</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-08.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Waldorf salad</h5>
            <p>
              Grapes, lemon, olive oil, sea salt, black pepper, walnuts,
              yoghurt, celery
            </p>
          </div>
          <div class="menu-item-price">
            <p>$12</p>
          </div>
        </li>
        <li class="menu-item">
          <div class="menu-item-thumbnail">
            <img
              src="img/pics/menu-item-09.png"
              alt="Royal Plate - Restaurant &amp; Catering HTML Template"
            />
          </div>
          <div class="menu-item-description">
            <h5>Spring quiche</h5>
            <p>Asparagus, spinach, onion, milk, cheese, black pepper</p>
          </div>
          <div class="menu-item-price">
            <p>$17</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
