@import "../../../assets/styles/variables";
@import "../../../assets/styles/fonts";
@import "../../../assets/styles/typography";
@import "../../../assets/styles/mixin";
.background {
  width: 100%;
  height: 70vh;
  background-image: url("../../../assets/images/product.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prod__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  padding-bottom: 80px;
}
.prod__title {
  p {
    @include font(36, $suranna);
    text-transform: uppercase;
    color: $title;
  }
  span {
    @include font(36, $montez);
    text-transform: none;
    margin-bottom: 10px;
    color: $hr;
  }
  width: 100%;
  margin: 50px 0 20px;
  text-align: center;
  color: $colorLink;
  .product__text {
    border-bottom: 1px solid #dddddd;
    p {
      padding-bottom: 40px;
      @include font(16, $montserratUltra);
      color: #777;
      line-height: 25px;
      text-align: center;
      text-transform: none;
    }
  }
}
.prod__item {
  width: calc(33% - 30px);
  margin-bottom: 40px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  &:hover {
    cursor: pointer;
  }
  &:hover:after {
    opacity: 1;
    z-index: 10;
  }
  &:hover .prod__item__button {
    opacity: 1;
    z-index: 20;
  }
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 29, 39, 0.8);
    opacity: 0;
    top: 0;
    transition: 0.5s ease-in-out;
    z-index: 10;
  }
  &__img {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      object-position: center bottom;
    }
  }
  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    opacity: 0;
    button {
      @include font(24, $suranna);
      padding: 8px 20px;
      border: 1px solid transparent;
      background-color: $colorLink;
      color: rgb(22, 29, 39);
      border-radius: 10px;
      transition: opacity 0.6s ease-in-out;
      &:focus {
        outline: none;
      }
    }
  }
  &__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      @include font(30, $quicksand);
      font-weight: 600;
      color: $product;
    }
    h3 {
      @include font(34, $quicksand);
      font-weight: 600;
      text-align: center;
    }
  }
}
.product {
  &__search {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    &__style {
      border-radius: 8px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    }
    &__category {
      margin-top: 30px;
      display: inline-block;
      width: auto;
      border-radius: 30px;
      box-shadow: 0 0 20px 0 #dddcd9;
      a {
        display: inline-block;
        width: auto;
        text-align: center;
        outline: none;
        padding: 13px 36px;
        line-height: 26px;
        font-size: 16px;
        text-transform: uppercase;
        &.current {
          background: #20202f;
          color: #ffffff;
        }
      }
    }
    &__prods {
      display: flex;
      flex-wrap: wrap;
      padding: 50px;
      width: 100%;

      &__item {
        width: calc(33% - 37px);
        margin: 0 20px;
        height: 400px;
        background-color: #ffffff;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.1);
        border-radius: 0;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        &__info {
          display: flex;
          justify-content: space-between;
          padding: 10px 40px 0;
          span {
            @include font(34, $montez);
            color: $product;
          }
        }
        &:after {
          content: "";
          position: absolute;
          opacity: 0;
          height: 100%;
          width: 100%;
          background-image: linear-gradient(
            to bottom,
            hsla(0, 0, 0, 0) 0%,
            hsla(0, 0, 0, 0.219) 11.7%,
            hsla(0, 0, 0, 0.224) 22.1%,
            hsla(0, 0, 0, 0.312) 31.2%,
            hsla(0, 0, 0, 0.393) 39.4%,
            hsla(0, 0, 0, 0.462) 46.6%,
            hsla(0, 0, 0, 0.531) 53.1%,
            hsla(0, 0, 0, 0.589) 58.9%,
            hsla(0, 0, 0, 0.643) 64.3%,
            hsla(0, 0, 0, 0.693) 69.3%,
            hsla(0, 0, 0, 0.741) 74.1%,
            hsla(0, 0, 0, 0.781) 78.8%,
            hsla(0, 0, 0, 0.79) 83.6%,
            hsla(0, 0, 0, 0.81) 88.7%,
            hsla(0, 0, 0, 0.88) 94.1%,
            hsla(0, 0, 0, 0.9) 100%
          );
          transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        }
        &:hover {
          &:after {
            opacity: 1;
          }
          .product__search__prods__item__flip {
            opacity: 1;
          }
          .product__search__prods__item__img {
            height: 100%;
          }
        }
        &:hover &__title {
          height: 0em;
          padding: 0px 1em;
        }
        &__title {
          height: 8em;
          width: 24em;
          color: $hr;
          position: absolute;
          bottom: 0em;
          -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          padding: 0.5em 1em;
          text-align: center;
          p {
            @include font(28, $suranna);
            color: $title;
            padding-bottom: 0;
          }
        }
        &__img {
          height: 70%;
          width: 100%;
          position: absolute;
          top: 0px;
          -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
        &__flip {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: absolute;
          opacity: 0;
          width: 80%;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 0%);
          transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
          color: #383848;
          z-index: 20;
          padding-bottom: 30px;
          color: $colorLink;
          p {
            @include font(24, $suranna);
            color: $colorLink;
            margin: 0;
          }
        }
        &__ingridients {
          @include font(20, $quicksand);
          margin: 10px 0;
          span {
            margin: 10px 0;
            @include font(18, $quicksand);
            color: #fff;
            opacity: 0.9;
          }
        }
      }
    }
    &__template {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 0 0 30px;
    }
  }
}

input.product__input {
  width: 60%;
  border: 2px solid transparent;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 40px auto 10px;
  outline: none;
  color: #636375;
  box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.15);
  &:hover,
  &:focus {
    box-shadow: 0px 2px 8px 1px rgba(117, 117, 117, 0.3);
  }
}
