<div class="background">
    <div class="catering__title" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="650">
        <h2 class="h2"><span>Catering</span></h2>
        <h2 class="h2">SPECIAL EVENTS</h2>
    </div>
</div>
<div class="catering" id="main">
    <div class="catering__intro container">
        <div class="catering__intro__title">
            <h3 class="h3"><span>It's your day</span></h3>
            <h3 class="h3">MAKE IT MEMORABLE</h3>

            <div class="hr">
                <span class="hr__left"></span>
                <span class="hr__center"></span>
                <span class="hr__right"></span>
            </div>
            <div class="catering__intro__list">
                <ul class="custom__content__list">
                    <li>Weddings,</li>
                    <li>Anniversaires,</li>
                    <li>Baby showers</li>
                </ul>
            </div>
            <p>Celebrate your special event in beautiful atmosphere of Royal Plate.
                Exquisite &amp; creative cousine, friendly atmosphere and highly professional staff will make your
                special day beautiful &amp; enjoyable. You can select from couple of pre-made menus for every occasion
                that should please many
                different palates or work with us to create your own menu.</p>

        </div>
    </div>
    <div class="catering__banner">
        <div class="catering__banner__content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="650">
            <h2 class="h2"><span>What we offer</span></h2>
            <h2 class="h2">SERVICE WE PROVIDE</h2>

            <div class=" divider">
                <span class="hr-double left"></span>
                <span class="divider-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Layer_1" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;"
                        xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                fill: #FCDA9A;
                            }
                        </style>
                        <g>
                            <path class="st0"
                                d="M250.8,276.6c0.2-19.5,0.3-40.8-11.5-55.4C215.2,191.7,133.4,91.8,127,83.7c-1.8-2.3-4.5-0.4-3,2   c21.3,33.5,51.8,78.8,73.1,112.3c4.2,6.6-1.3,9-5.5,3.8c-25.8-30.2-58.6-74.1-84.4-104.4c-1.9-2.2-4.3-0.3-2.8,2   c21.7,33.2,50,80.3,71.6,113.7c3.6,5.6-2.6,9.9-6.6,4.6c-23.9-31.7-58.5-74.4-82.3-106.2c-1.7-2.2-4.3-0.6-2.9,1.9   c19.6,34.6,49.6,80.4,69.2,115c3.5,5.7-0.7,10-5.5,3.9c-24.2-31.5-56.3-75.6-80.5-107.1c-1.7-2.2-4.4-0.4-2.9,2.1   c5.4,8.8,71.3,119.9,90.8,152.6c9.6,16.1,29.7,23.3,48.1,29.8c25.2,8.8,38,23.3,53,45.2c68.2,99.8,115.8,202.5,180.8,305.8   c58.9,93.7,131.3,43,63.4-44.4c-74.9-96.4-155-176.2-225.5-274.5C259.6,320.3,250.5,303.3,250.8,276.6L250.8,276.6z">
                            </path>
                            <path class="st0"
                                d="M455.3,96.5c56.5-21.4,91.5,3.1,90.7,63.5c-0.8,57.6-35.9,124-95.2,139.5c-18.1,4.7-35.3,5.2-52.2,12   c-11.1,4.4-20.5,11.5-27.4,21.3C297,437.5,247.8,545.6,179.4,654.4c-59,93.8-131.3,43.1-63.4-44.4   c78.9-101.5,163.6-184.7,236.7-290.3c6.8-9.9,10.3-21.1,10.6-33c0.6-18.1-4.9-34.5-6.6-53.1C351,172.7,401.4,116.9,455.3,96.5   L455.3,96.5z">
                            </path>
                        </g>
                    </svg>
                </span>
                <span class="hr-double right"></span>
            </div>
        </div>
    </div>
    <div class="catering__service">
        <div class="catering__service__container container ">
            <div class="catering__service__item d-flex">
                <div class="catering__service__item__img">
                    <img src="../../../assets/images/catering/img-14.jpg"
                        alt="Royal Plate - Restaurant &amp; Catering HTML Template">
                </div>
                <div class="catering__service__item__content">
                    <div class="catering__service__item__title">
                        <h3 class="h3"><span>Food & Beverages</span></h3>
                        <h3>EXQUISITE CUISINE</h3>
                        <div class="hr">
                            <span class="hr__left"></span>
                            <span class="hr__center"></span>
                            <span class="hr__right"></span>
                        </div>
                    </div>

                    <p class="custom__content__text">Food is the heart of every event. We’ll make your day special by
                        selecting only the best ingredients and turning them into magical dishes. Our service includes
                        complete food preparation, beverages. and full china service. You can choose from already
                        prepared sample menus or join us in creating your own that will please your taste for sure.</p>
                    <div class="custom__content__btn" data-aos="fade-up" data-aos-easing="linear"
                        data-aos-duration="500">
                        <a [routerLink]="[ '/menu/restaurant']"
                            class="more-details triggerAnimation animated fadeInUp">EXPLORE MENUS <i><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="10px" height="12px" viewBox="0 0 8 9" version="1.1">
                                    <g id="surface1">
                                        <path fill="currentColor"
                                            d="M 4.003906 4.796875 L 1.578125 7.1875 C 1.410156 7.355469 1.136719 7.355469 0.972656 7.1875 L 0.566406 6.792969 C 0.398438 6.625 0.398438 6.359375 0.566406 6.195312 L 2.289062 4.5 L 0.566406 2.808594 C 0.398438 2.640625 0.398438 2.375 0.566406 2.210938 L 0.96875 1.8125 C 1.136719 1.644531 1.410156 1.644531 1.574219 1.8125 L 4.003906 4.203125 C 4.171875 4.367188 4.171875 4.632812 4.003906 4.796875 Z M 7.433594 4.203125 L 5.003906 1.8125 C 4.835938 1.644531 4.566406 1.644531 4.398438 1.8125 L 3.996094 2.207031 C 3.828125 2.375 3.828125 2.640625 3.996094 2.804688 L 5.71875 4.5 L 3.996094 6.191406 C 3.828125 6.359375 3.828125 6.625 3.996094 6.789062 L 4.398438 7.1875 C 4.566406 7.351562 4.839844 7.351562 5.003906 7.1875 L 7.433594 4.796875 C 7.601562 4.632812 7.601562 4.367188 7.433594 4.203125 Z M 7.433594 4.203125 " />
                                    </g>
                                </svg></i></a></div>

                </div>
            </div>

            <div class="catering__service__item d-flex">
                <div class="catering__service__item__content">
                    <div class="catering__service__item__title">
                        <h3 class="h3"><span>Perfect atmosphere</span></h3>
                        <h3 class="h3">FLORAL & LIGHTNING</h3>
                        <div class="hr">
                            <span class="hr__left"></span>
                            <span class="hr__center"></span>
                            <span class="hr__right"></span>
                        </div>
                    </div>

                    <p class="custom__content__text">Our professional design team will take your vision and turn it into
                        reality. Custom floral, lightning and interior design according to your dreams will make your
                        special event enjoyable and memorable. We provide all equipment in terms of tables, chairs,
                        lightning equipment and effects and full floral services.</p>
                    <div class="custom__content__btn" data-aos="fade-up" data-aos-easing="linear"
                        data-aos-duration="500">
                        <a class="more-details"> START PLANNING <i><svg xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="10px" height="12px"
                                    viewBox="0 0 8 9" version="1.1">
                                    <g id="surface1">
                                        <path fill="currentColor"
                                            d="M 4.003906 4.796875 L 1.578125 7.1875 C 1.410156 7.355469 1.136719 7.355469 0.972656 7.1875 L 0.566406 6.792969 C 0.398438 6.625 0.398438 6.359375 0.566406 6.195312 L 2.289062 4.5 L 0.566406 2.808594 C 0.398438 2.640625 0.398438 2.375 0.566406 2.210938 L 0.96875 1.8125 C 1.136719 1.644531 1.410156 1.644531 1.574219 1.8125 L 4.003906 4.203125 C 4.171875 4.367188 4.171875 4.632812 4.003906 4.796875 Z M 7.433594 4.203125 L 5.003906 1.8125 C 4.835938 1.644531 4.566406 1.644531 4.398438 1.8125 L 3.996094 2.207031 C 3.828125 2.375 3.828125 2.640625 3.996094 2.804688 L 5.71875 4.5 L 3.996094 6.191406 C 3.828125 6.359375 3.828125 6.625 3.996094 6.789062 L 4.398438 7.1875 C 4.566406 7.351562 4.839844 7.351562 5.003906 7.1875 L 7.433594 4.796875 C 7.601562 4.632812 7.601562 4.367188 7.433594 4.203125 Z M 7.433594 4.203125 " />
                                    </g>
                                </svg></i></a></div>
                </div>
                <div class="catering__service__item__img">
                    <img src="../../../assets/images/catering/img-15.jpg"
                        alt="Royal Plate - Restaurant &amp; Catering HTML Template">
                </div>
            </div>

            <div class="catering__service__item d-flex">
                <div class="catering__service__item__img">
                    <img src="../../../assets/images/catering/img-16.jpg"
                        alt="Royal Plate - Restaurant &amp; Catering HTML Template">
                </div>
                <div class="catering__service__item__content">
                    <div class="catering__service__item__title">
                        <h3 class="h3"><span>Full package</span></h3>
                        <h3 class="h3">STAFF & EQUIPMENT</h3>
                        <div class="hr">
                            <span class="hr__left"></span>
                            <span class="hr__center"></span>
                            <span class="hr__right"></span>
                        </div>
                    </div>

                    <p class="custom__content__text">Our professional design team will take your vision and turn it into
                        reality. Custom floral, lightning and interior design according to your dreams will make your
                        special event enjoyable and memorable. We provide all equipment in terms of tables, chairs,
                        lightning equipment and effects and full floral services.</p>
                    <div class="custom__content__btn" data-aos="fade-up" data-aos-easing="linear"
                        data-aos-duration="500">
                        <a (click)="scrollTo('main')" class="more-details">START PLANNING <i><svg
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="10px" height="12px" viewBox="0 0 8 9" version="1.1">
                                    <g id="surface1">
                                        <path fill="currentColor"
                                            d="M 4.003906 4.796875 L 1.578125 7.1875 C 1.410156 7.355469 1.136719 7.355469 0.972656 7.1875 L 0.566406 6.792969 C 0.398438 6.625 0.398438 6.359375 0.566406 6.195312 L 2.289062 4.5 L 0.566406 2.808594 C 0.398438 2.640625 0.398438 2.375 0.566406 2.210938 L 0.96875 1.8125 C 1.136719 1.644531 1.410156 1.644531 1.574219 1.8125 L 4.003906 4.203125 C 4.171875 4.367188 4.171875 4.632812 4.003906 4.796875 Z M 7.433594 4.203125 L 5.003906 1.8125 C 4.835938 1.644531 4.566406 1.644531 4.398438 1.8125 L 3.996094 2.207031 C 3.828125 2.375 3.828125 2.640625 3.996094 2.804688 L 5.71875 4.5 L 3.996094 6.191406 C 3.828125 6.359375 3.828125 6.625 3.996094 6.789062 L 4.398438 7.1875 C 4.566406 7.351562 4.839844 7.351562 5.003906 7.1875 L 7.433594 4.796875 C 7.601562 4.632812 7.601562 4.367188 7.433594 4.203125 Z M 7.433594 4.203125 " />
                                    </g>
                                </svg></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="catering__banner catering__banner__event ">
        <div class="catering__banner__content" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="650">
            <h2 class="h2"><span>Featured event</span></h2>
            <h2 class="h2">MIA & DAVID'S WEDDING</h2>

            <div class=" divider">
                <span class="hr-double left"></span>
                <span class="divider-svg">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        id="Layer_1" x="0px" y="0px" viewBox="0 0 612 792" style="enable-background:new 0 0 612 792;"
                        xml:space="preserve">
                        <style type="text/css">
                            .st0 {
                                fill-rule: evenodd;
                                clip-rule: evenodd;
                                fill: #FCDA9A;
                            }
                        </style>
                        <g>
                            <path class="st0"
                                d="M250.8,276.6c0.2-19.5,0.3-40.8-11.5-55.4C215.2,191.7,133.4,91.8,127,83.7c-1.8-2.3-4.5-0.4-3,2   c21.3,33.5,51.8,78.8,73.1,112.3c4.2,6.6-1.3,9-5.5,3.8c-25.8-30.2-58.6-74.1-84.4-104.4c-1.9-2.2-4.3-0.3-2.8,2   c21.7,33.2,50,80.3,71.6,113.7c3.6,5.6-2.6,9.9-6.6,4.6c-23.9-31.7-58.5-74.4-82.3-106.2c-1.7-2.2-4.3-0.6-2.9,1.9   c19.6,34.6,49.6,80.4,69.2,115c3.5,5.7-0.7,10-5.5,3.9c-24.2-31.5-56.3-75.6-80.5-107.1c-1.7-2.2-4.4-0.4-2.9,2.1   c5.4,8.8,71.3,119.9,90.8,152.6c9.6,16.1,29.7,23.3,48.1,29.8c25.2,8.8,38,23.3,53,45.2c68.2,99.8,115.8,202.5,180.8,305.8   c58.9,93.7,131.3,43,63.4-44.4c-74.9-96.4-155-176.2-225.5-274.5C259.6,320.3,250.5,303.3,250.8,276.6L250.8,276.6z">
                            </path>
                            <path class="st0"
                                d="M455.3,96.5c56.5-21.4,91.5,3.1,90.7,63.5c-0.8,57.6-35.9,124-95.2,139.5c-18.1,4.7-35.3,5.2-52.2,12   c-11.1,4.4-20.5,11.5-27.4,21.3C297,437.5,247.8,545.6,179.4,654.4c-59,93.8-131.3,43.1-63.4-44.4   c78.9-101.5,163.6-184.7,236.7-290.3c6.8-9.9,10.3-21.1,10.6-33c0.6-18.1-4.9-34.5-6.6-53.1C351,172.7,401.4,116.9,455.3,96.5   L455.3,96.5z">
                            </path>
                        </g>
                    </svg>
                </span>
                <span class="hr-double right"></span>
            </div>
        </div>
    </div>
    <div class="catering__event">
        <div class="catering__intro container">
            <div class="catering__intro__title">
                <h3 class="h3"><span>Mia & David’s Celebration</span></h3>
                <h3 class="h3">SERVICES PROVIDED</h3>

                <div class="hr">
                    <span class="hr__left"></span>
                    <span class="hr__center"></span>
                    <span class="hr__right"></span>
                </div>
                <div class="catering__intro__list">
                    <ul class="custom__content__list">
                        <li>Floral</li>
                        <li>Lightning</li>
                        <li>Food</li>
                        <li>Bar</li>
                        <li>Staff</li>
                    </ul>
                </div>
                <p>One of the most exciting events we catered was Mia & David’s wedding that occur in summer 2016. We
                    have provided full package service, including floral, lightning, food, bar and staff. Mia & David
                    decided to have their celebration on the open, on Royal Plate terrace with amazing view on Costa
                    bay. Mia & David enjoyed in our “Royal Plate buffet menu”. You can see the gallery bellow.</p>

            </div>
        </div>
        <div class="catering__event__slider container">
            <div class="swiper-container" [swiper]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="catering__slider__item">
                            <img src="../../../assets/images/catering/img-14.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="catering__slider__item">
                            <img src="../../../assets/images/catering/img-17.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="catering__slider__item">
                            <img src="../../../assets/images/catering/img-04.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="catering__slider__item">
                            <img src="../../../assets/images/catering/img-09.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="catering__slider__item">
                            <img src="../../../assets/images/catering/img-15.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination-catering swiper-pagination"></div>
            </div>
        </div>
        <div class="catering__event__reserv container" data-aos="fade-up" data-aos-easing="linear"
            data-aos-duration="650">
            <div class="catering__service__item__title">
                <h3 class="h3"><span>Start Planning</span></h3>
                <h3>READY TO SCHEDULE A TASTING?</h3>
                <div class="hr">
                    <span class="hr__left"></span>
                    <span class="hr__center"></span>
                    <span class="hr__right"></span>
                </div>
            </div>
            <app-custom-form></app-custom-form>

        </div>
    </div>
</div>