<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Admin Panel</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with heart icon"
      [routerLink]="['/menu']" routerLinkActive="active">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon>person_outline</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">
        <mat-icon>exit_to_app</mat-icon>
        Sign Out
      </button>
    </mat-menu>
  </mat-toolbar>
</div>