<div class="background"></div>
<div class="home">
    <div class="home__reserv container">
        <div class="home__reserv__img home__reserv__img__left">
            <img src="../../../assets/images/reservation/img-02.jpg"
                alt="Royal Plate - Restaurant &amp; Catering HTML Template">
        </div>


        <div class="home__reserv__form">
            <div class="home__reserv__title">
                <h3><span>Reservation</span></h3>
                <h3>Book your table</h3>
                <div class="hr">
                    <span class="hr__left"></span>
                    <span class="hr__center"></span>
                    <span class="hr__right"></span>
                </div>
            </div>
            <app-reservation-form></app-reservation-form>
        </div>
        <div class="home__reserv__img home__reserv__img__right">
            <img src="../../../assets/images/reservation/img-03.jpg"
                alt="Royal Plate - Restaurant &amp; Catering HTML Template">
        </div>
    </div>
</div>