table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}
td,
th {
  width: 12.5%;
}
td {
  padding: 20px 24px !important;
}
th {
  padding: 10px 24px !important;
}
.product {
  &__id {
    width: 3%;
  }
  &__cat {
    width: 8%;
  }
  &__ingridients {
    width: 30%;
  }
  &__price {
    width: 5%;
  }
  &__description {
    width: 19%;
  }
  &__imgTab {
    width: 10%;
    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
    }
  }
  &__inputs {
    min-width: 600px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    padding: 10px 30px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    &__price {
      width: 45% !important;
    }
    &__checkbox {
      width: 45%;
      display: flex;
      align-items: center;
    }
    mat-form-field {
      width: 100%;
    }
  }
  &__settings {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    justify-content: space-between;
  }
  &__button {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  &__img {
    &__conatainer {
      width: 45%;
      height: 100%;
      min-height: 360px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: dashed 2px rgba(0, 0, 0, 0.2);
      padding: 15px;
    }
    &__view {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 80%;
        object-fit: cover;
        height: 320px;
      }
    }
    &-delete svg {
      width: 40px;
      margin-right: 10px;
    }
  }
}

[type="file"] {
  height: 0;
  overflow: hidden;
  width: 0;
  & + label {
    background: #f15d22;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: "Rubik", sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    &.btn-2 {
      background-color: #673ab7;
      border-radius: 50px;
      overflow: hidden;

      &::before {
        content: "";
        background-image: url("../../../assets//images/icons/cloud.svg");
        height: 20px;
        width: 20px;
        right: 140%;
        line-height: 3.3;
        position: absolute;
        top: 15px;
        transition: all 0.3s;
      }

      &:hover {
        background-color: #58319b;

        &::before {
          right: 75%;
        }
      }
    }
  }
}
