@import "../styles/variables";
@import "../styles/mixin";
p,
a,
span {
  font-family: "Montserrat", Arial, sans-serif;
  line-height: 25px;
  color: #777777;
  font-size: 16px;
}
p {
  padding-bottom: 15px;
}
a {
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  -ms-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  font-family: "Suranna", serif;
  color: #161d27;
  margin-top: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.h3 {
  color: #383848;
  line-height: normal;
  margin: 0 0 15px 0;
  font-weight: 700;
  @include font(26, $suranna);
  span {
    color: $hr;
    @include font(36, $montez);
    text-transform: none;
  }
}
.h2 {
  line-height: 44px;
  @include font(44, $suranna);
  text-align: center;
  color: #fff;
  span {
    color: #fcda9a;
    @include font(50.3, $montez);
    text-transform: none;
  }
}
h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 44px;
  line-height: 44px;
}
h3 {
  @include font(36, $suranna, normal, 300);
  line-height: 36px;
}
h4 {
  font-size: 27px;
  line-height: 28px;
}
h5 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 3px;
}
h6 {
  font-size: 15px;
  line-height: 15px;
}

strong {
  font-weight: 600;
}
strong a:hover {
  text-decoration: underline;
}
ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}
ul li,
ol li {
  padding-bottom: 0;
}

blockquote + p {
  margin-top: 15px;
}
a.more-details {
  @include font(21, $suranna);
  color: #161d27;
  text-transform: uppercase;
  border-bottom: 1px solid $hr;
  display: inline-block;
  padding-bottom: 3px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: $hr;
    svg {
      fill: $hr;
    }
  }
}

@media screen and (max-width: 1200px) {
  .h2 {
    font-size: 40px;
  }
  h3 {
    @include font(36, $suranna);
    line-height: 36px;
  }
  h4 {
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 10px;
  }
  p {
    font-size: 15px;
    padding-bottom: 0;
    line-height: 20px;
  }
  .pt-100 {
    padding-top: 0;
  }
}
@media screen and (max-width: 1024px) {
  .h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 32px;
  }
  .h3 {
    margin: 0 0 5px 0;
  }
  h4 {
    font-size: 22px;
  }
  .hr {
    margin: 6px auto;
  }
  a.more-details {
    font-size: 18px;
    margin-top: 0;
  }
  h3.h3 {
    font-size: 32px;
  }
}
@media screen and (max-width: 568px) {
  h2,
  .h2 {
    font-size: 30px;
    line-height: 1.2;
    span {
      font-size: 40.3px;
    }
  }
  h3,
  .h3 {
    font-size: 28px;
    line-height: 1.2;
  }
  p {
    font-size: 14px;
  }
}
@media screen and (max-width: 414px) {
  h2,
  .h2 {
    font-size: 28px;
    line-height: 1.2;
    span {
      font-size: 34px;
    }
  }
}
