$colorLink: #fcda9a;
$hr: #b48c80;
$montez: "Montez";
$montserratUltra: "Montserrat Ultra Light", Arial, sans-serif;
$suranna: "Suranna";
$quicksand: "Quicksand", sans-serif;
$matColor: #673ab7;
$product: #e4b95b;
$detailsText: #383848;
$darkBtn: #20202f;
$hoverDarkBtn: #3e3e5b;
$title: #161d27;

$checkbox-bg-color-checked: #e4b95b;
$checkbox-border-color-checked: $checkbox-bg-color-checked;
$checkbox-bg-color-unchecked: #fff;
$checkbox-border-color-unchecked: #ccc;
